<!DOCTYPE html>
<html>
    <head>
        <title>A tiny currency calculator</title>
        <meta name="author" content="Patrick Stegmann">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style>
            body {
                margin: 2%;
            }

            #resultbox {
                margin-top: 1%;
                font-size: 1.2em;
            }

            #result {
                font-weight: bold;
                border-bottom: 1px dashed gray;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-4" id="calc">
                <form class="form" role="form">
                    <h1>Tiny Currency Calculator</h1>
                    <small>Usage: Just enter values in the fields below, the converted amount should appear at the bottom of the page</small>
                    <hr>
                    <div class="form-group">
                        <label for="source-amount">Amount</label>
                        <input type="number" name="source-amount" id="source-amount" placeholder="Amount (i.e. 3.14)" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="source-currency">Source currency</label>
                        <select name="source-currency" id="source-currency" class="form-control">
                            {% for currency in currencies %}
                                <option value="{{ currency.isoCode }}">{{ currency.displayName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="destination-currency">Destination currency</label>
                        <select name="destination-currency" id="destination-currency" class="form-control">
                            {% for currency in currencies %}
                                <option value="{{ currency.isoCode }}">{{ currency.displayName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" id="resultbox" hidden>
                Converted amount approx. <span id="result">X.YZ</span> <span id="result-name">&dollar;</span>
            </div>

            <div class="col-lg-4 alert alert-danger" role="alert" id="errorbox" hidden>
                <span class="glyphicon glyphicon-remove"></span> We do not have this conversion rate on file, sorry.
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
            function displayResult(val, name) {
                var resultDiv = $("#resultbox");
                var resultSpan = $("#result");
                var resultName = $("#result-name");
                $("#errorbox").hide();

                if (resultDiv.is(":hidden")) {
                    resultDiv.show();
                }

                resultSpan.text(val.toFixed(2)).attr("title", val);
                resultName.html(name);
                resultSpan.effect("highlight", 1000)
            }

            function displayError() {
                var resultDiv = $("#resultbox");
                var errorDiv = $("#errorbox");
                resultDiv.hide();
                errorDiv.show();
            }

            function onFieldUpdate() {
                var amount = $("#source-amount").val();
                var sourceCurrency = $("#source-currency").val();
                var destinationCurrency = $("#destination-currency").val();

                if (amount !== "" && sourceCurrency != destinationCurrency) {
                    var url = "conversion/" + sourceCurrency;
                    $.ajax({
                        url: url,
                        data: {amount: parseFloat(amount), to: destinationCurrency}
                    }).done(function(data) {
                        displayResult(parseFloat(data["value"]), data["destination"]);
                    }).error(displayError);
                }
            }
            $("#source-amount").keyup(onFieldUpdate);
            $("#source-currency").change(onFieldUpdate);
            $("#destination-currency").change(onFieldUpdate);
        </script>
    </body>
</html>